<!--Réception de messages du serveur-->
<section>
  <h1>Réception de messages du serveur</h1>
  <span>Socket ID : </span>
  <span>{{ socketId }}</span> <br />
  <span>Message du serveur : </span>
  <span>{{ serverMessage }}</span> <br />
  <span>Horloge du serveur : </span>
  <span>{{ serverClock }}</span> <br />
  <button (click)="socketService.disconnect()">Déconnexion</button>
  <button (click)="connect()">Reconnexion</button>
</section>

<!--Communication bi-directionnelle-->
<section>
  <h1>Validation d'un mot</h1>
  <label for="wordInput">Mot à valider : </label>
  <input id="wordInput" [(ngModel)]="wordInput" type="text" />
  <button (click)="sendWordValidation()">Valider!</button>
  <p>{{ serverValidationResult }}</p>
</section>

<hr />

<!--Communication avec serveur seulement-->
<section>
  <h1>Communication avec serveur seulement</h1>
  <label for="messageToServer">Message à envoyer au serveur seulement </label>
  <input id="messageToServer" [(ngModel)]="messageToServer" type="text" />
  <button (click)="sendToServer()">Envoyer au serveur</button>
</section>

<hr />

<!--Communication avec tous les clients connectés au serveur-->
<section>
  <h1>Communication avec tous les clients connectés au serveur</h1>
  <label for="broadcastMessage">Message à envoyer à tous </label>
  <input
    id="broadcastMessage"
    [(ngModel)]="broadcastMessage"
    (keydown.enter)="broadcastMessageToAll()"
    type="text"
  />
  <button (click)="broadcastMessageToAll()">Envoyer à tous!</button>
  <ul id="serverBroadcastList">
    <li *ngFor="let message of serverMessages">{{ message }}</li>
  </ul>
</section>

<!--Communication dans une Room-->
<section>
  <h1>Communication dans une Room</h1>
  <button id="joinRoomBtn" (click)="joinRoom()">Rejoindre une salle</button>
  <label for="roomMessage">Message à envoyer dans la salle </label>
  <input
    id="roomMessage"
    [(ngModel)]="roomMessage"
    (keydown.enter)="sendToRoom()"
    type="text"
  />
  <button (click)="sendToRoom()">Envoyer dans la salle!</button>
  <ul id="roomMessageList">
    <li *ngFor="let message of roomMessages">{{ message }}</li>
  </ul>
</section>
